@use './mixins' as*;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--light-red: hsl(356, 100%, 66%);
	// (CTA hover background)
	--very-light-red: hsl(355, 100%, 74%);
	// (headings)
	--very-dark-blue: hsl(208, 49%, 24%);
	// (text)
	--white: hsl(0, 0%, 100%);
	// (footer text)
	--grayish-blue: hsl(240, 2%, 79%);
	// (body copy)
	--very-dark-grayish-blue: hsl(207, 13%, 34%);
	// (footer background)
	--very-dark-black-blue: hsl(240, 10%, 16%);
	// Background gradient - Intro/CTA mobile nav:
	--very-light-red: hsl(13, 100%, 72%);
	--light-red: hsl(353, 100%, 62%);
	// Background gradient - body:
	--very-dark-gray-blue: #2c2d3f;
	--very-dark-desaturated-blue: hsl(237, 23%, 32%);
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Overpass', sans-serif;
	// 300, 600
	// font-family: 'Ubuntu', sans-serif;
	// 400 500 700
}

body[aria-hidden='true'] {
	overflow: hidden;
}
body[aria-hidden='false'] {
	overflow: scroll;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.header {
	position: relative;
	background-image: url('../img/bg-pattern-intro-mobile.svg'),
		linear-gradient(180deg, var(--very-light-red) 0%, var(--light-red) 100%);

	background-position: top 35% left 35%;
	background-repeat: no-repeat;
	border-bottom-left-radius: 120px;

	&__items {
		padding: 8em 3em 14em;
	}
	&__title {
		text-align: center;
		color: var(--white);
		font-size: 4rem;
	}
	&__text {
		text-align: center;
		color: var(--white);
		font-size: 2.2rem;
		margin-top: 0.7em;
	}
	&__btns {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.5em;
		margin-top: 2em;
	}

	&__btn {
		background: transparent;
		border: 1px solid var(--white);
		border-radius: 25px;
		padding: 0.5em 1em;
		font-size: 1.8rem;
		color: var(--white);
		cursor: pointer;
		font-weight: 600;
		transition: background-color 0.3s, color 0.3s;
		outline: none;

		&--bg {
			border: 1px solid transparent;
			background-color: var(--white);
			color: var(--very-light-red);
		}
	}

	&__btn:hover,
	&__btn:focus {
		background-color: var(--white);
		color: var(--very-light-red);
		box-shadow: 0px 0px 8px var(--light-red);
	}
	&__btn--bg:hover,
	&__btn--bg:focus {
		background-color: var(--light-red);
		color: var(--white);
		border: 1px solid var(--very-light-red);
		box-shadow: 0px 0px 8px var(--very-light-red);
	}
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3em 2em;
	height: 105px;

	&__logo {
		cursor: pointer;
		display: grid;
	}
	&__logo-item {
		width: 100px;
		margin: auto;

	}
	&__mobile {
		display: none;
		position: absolute;
		background-color: var(--white);
		box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.5);
		border-radius: 25px;
		width: 85%;
		max-width: 360px;
		top: 104px;
		left: 50%;
		transform: translateX(-50%);
		padding: 2em;
	}
	&__list {
		list-style: none;
		margin-bottom: 1em;
	}
	&__list-btn {
		background: none;
		border: 2px solid transparent;
		border-radius: 25px;
		cursor: pointer;
		font-size: 1.8rem;
		padding: 0.75em 2em;
		margin: auto;
		margin-bottom: 0.5em;
		display: flex;
		outline: none;
		transition: border 0.3s, color 0.3s;

		&--bg {
			border: 2px solid var(--white);
			color: var(--white);
			background-image: linear-gradient(90deg, var(--very-light-red), var(--light-red));
			border-radius: 25px;
		}
	}

	&__list-btn:hover,
	&__list-btn:focus {
		color: var(--very-light-red);
	}
	&__list-btn--bg:hover,
	&__list-btn--bg:focus {
		border: 2px solid var(--very-light-red);
		background-image: none;
		color: var(--very-light-red);
	}

	&__list-btn:focus {
		border: 2px solid var(--very-light-red);
	}
	&__list-btn--bg:focus {
		border: 2px solid var(--light-red);
	}

	&__list-img {
		place-self: center;
		margin-left: 0.5em;
		width: 12px;
		filter: invert(67%) sepia(51%) saturate(1309%) hue-rotate(304deg) brightness(95%) contrast(117%);
	}
	&__link-container[aria-expanded='true'] {
		display: block;
	}
	&__link-container[aria-expanded='false'] {
		display: none;
	}

	&__link-container {
		background-color: var(--grayish-blue);
		border-radius: 5px;
		padding: 1em 0;
	}
	&__item {
		display: flex;
		justify-content: center;
		margin-bottom: 0.5em;
	}
	&__item:last-of-type {
		margin-bottom: 0;
	}

	&__link {
		text-decoration: none;
		text-align: center;
		color: var(--very-dark-grayish-blue);
		font-size: 1.5rem;
		font-weight: bold;
		padding: 0.5em 0.75em;
		cursor: pointer;
		transition: color 0.3s;
		outline: none;
	}

	&__link:hover,
	&__link:focus {
		color: var(--very-light-red);
	}
	&__btns {
		border-top: 1px solid var(--grayish-blue);
		padding-top: 1em;
		margin-top: 1em;
	}

	&__btn {
		background: transparent;
		border: 2px solid transparent;
		border-radius: 5px;
		outline: none;
		padding: 0.5em;
		cursor: pointer;
		transition: border 0.3s;
	}

	&__btn:hover,
	&__btn:focus {
		border: 2px solid var(--white);
	}
	&__burger-icon {
		width: 40px;
	}
}

.active {
	display: block;
}
.section {
	padding: 10em 0em;

	width: 100%;
	max-width: 1200px;
	margin: auto;

	&--phone {
	
		position: relative;
		padding-top: 20em;
		margin-top: 15em;
		background-color: var(--very-dark-gray-blue);
		background-image: url('../img/bg-pattern-circles.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top -10vh center;
		border-top-right-radius: 120px;
		border-bottom-left-radius: 120px;
	}

	&__title {
		text-align: center;
		font-size: 2.8rem;
		color: var(--very-dark-blue);
		margin-bottom: 1em;

		&--white {
			color: var(--white);
		}
	}

	&__img-mobile {
		display: block;
		width: 100%;
		margin: auto;
		object-fit: cover;
		padding: 3em 0;
		max-width: 500px;

		&--phone {
			max-width: 420px;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__img-desktop {
		display: none;
	}
	&__text {
		padding: 2em 3em;
	}
	&__title-mini {
		font-size: 2.5rem;
		text-align: center;
		color: var(--very-dark-blue);
		margin-bottom: 1em;

		&--white {
			color: var(--white);
		}
	}
	&__description {
		font-size: 1.6rem;
		text-align: center;
		color: var(--very-dark-grayish-blue);
		line-height: 1.6em;
		margin-bottom: 1em;
		&--white {
			color: var(--white);
		}
	}
	&__description:last-of-type{
		margin-bottom: 0;
	}
}

.footer {
	padding: 5em 0;
	background-color: var(--very-dark-black-blue);
	border-top-right-radius: 120px;
	padding-bottom: 3em;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__logo {
		margin-bottom: 2em;
	}
	&__list {
		color: var(--white);
		list-style: none;
	}

	&__title {
		font-size: 1.8rem;
		color: var(--white);
		text-align: center;
		margin: 2em 0;
	}
	
	&__item {
		text-align: center;
		margin-bottom: 0.75em;
	}

	&__link {
		font-size: 1.6rem;
		color: var(--white);
		text-decoration: none;
		outline: none;
	}
	&__link:focus {
		text-decoration: underline;
	}
}

@media (min-width: 768px) {
	.header {
		background-image: url('../img/bg-pattern-intro-desktop.svg'),
			linear-gradient(90deg, var(--very-light-red) 0%, var(--light-red) 100%);
		background-position: 45% 50%;
		border-bottom-left-radius: 120px;

		.nav {
			width: 100%;
			max-width: 1200px;
			margin: auto;

			&__btn {
				display: none;
			}

			&__logo {
				margin-right: 2em;
			}
			&__mobile {
				position: static;
				display: flex;
				justify-content: space-between;
				background: none;
				border: none;
				width: 100%;
				max-width: 100%;
				padding: 0;
				transform: translateX(0);
				box-shadow: none;

			}

			&__list-container {
				display: flex;
			}
			&__list {
				margin-bottom: 0;
				position: relative;
			}
			&__list-btn {
				border: none;
				font-size: 1.8rem;
				padding: 0.5em 1em;
				margin: 0;
				color: var(--white);

				&--bg {
					color: var(--light-red);
					background-color: var(--white);
					background-image: none;
					border-radius: 25px;
				}
			}

			&__list-btn:hover,
			&__list-btn:focus {
				text-decoration: underline;
			}

			&__list-btn--bg:hover,
			&__list-btn--bg:focus {
				text-decoration: none;
				background-color: var(--light-red);
				color: var(--white);
				box-shadow: 0px 0px 8px var(--very-light-red);
			}

			&__list-btn:focus {
				border: none;
			}
			&__list-btn--bg:focus {
				border: none;
			}

			&__list-img {
				filter: invert(98%) sepia(100%) saturate(5518%) hue-rotate(185deg) brightness(120%) contrast(104%);
			}

			&__btns {
				display: flex;
				align-self: flex-end;
				border-top: none;
				padding: 0;
				margin: 0;
			}

			&__link-container {
				position: absolute;
				top: calc(100% + 10px);
				background-color: var(--white);
				border-radius: 5px;
				padding: 1em 1em;
				width: 150px;
				box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.5);
			}

			&__item {
				justify-content: start;
			}
			&__link {
				color: var(--very-dark-black-blue);
			}
			&__link:hover,
			&__link:focus {
				color: var(--light-red);
			}
		}
	}

	.section {
		padding: 12em 0;

		&--phone {
			padding: 4em 0;

			@include sectionDesktop;

			background-image: linear-gradient(90deg, var(--very-dark-black-blue) 0%, var(--very-dark-desaturated-blue) 100%);
			background-position: unset;
		}

		&--desktop {
			margin-block: 5em;

			@include sectionDesktop;
		}

		&--editor {
			margin-block: 5em;

			@include sectionDesktop;
		}

		&__title {
			font-size: 3.2rem;
			&--white {
				text-align: left;
			}
			&--editor {
				grid-column: 2/4;
			}
		}

		&__img-mobile {
			display: none;

			&--phone {
				width: unset;
				margin: unset;
				height: 120%;

				position: absolute;
				display: block;
				top: 10%;
				transform: translateY(-50%);
				left: 25%;
				transform: translateX(-50%);
				object-fit: cover;
				padding: 0;
				z-index: 10;
			}
		}

		&__text {
			&--desktop {
				grid-column: 3/4;
			}
			&--editor {
				grid-column: 2/3;
			}
			&--phone {
				grid-column: 3/4;
			}
		}
		&__title-mini {
			text-align: left;
			font-size: 2.6rem;
			margin-bottom: 1.2em;
		}
		&__description {
			text-align: left;
			margin-bottom: 3em;
		}
		&__description:last-of-type {
			margin-bottom: 0;
		}
	}

	.section__text--editor::before {

		@include sectionImagesDesktop('../img/illustration-editor-desktop.svg');

		grid-column: 3/5;
		height: 600px;

		background-position: center left 100px;
		top: 50%;
		transform: translateY(-50%);
	}

	.section__text--desktop::before {

		@include sectionImagesDesktop('../img/illustration-laptop-desktop.svg');

		grid-column: 1/3;
		height: 600px;

		background-position: right;
		top: 50%;
		transform: translateY(-50%);
	}

	.section__text--phone::before {
		@include sectionImagesDesktop('../img/bg-pattern-circles.svg');

		grid-column: 1/4;
		background-position: bottom left;

		left: 25%;
		transform: translate(-50%);
	}
	.footer {
		&__container {
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;
		}

		&__logo {
			width: 20%;
		}
		&__list {
			width: 20%;
		}
		&__title {
			margin-top: 0.75em;
			text-align: left;
			font-weight: bold;
		}
		&__item {
			text-align: left;
			margin-bottom: 1em;
		}

		&__link {
			outline: none;
		}
		&__link:focus,
		&__link:hover {
			text-decoration: underline;
		}
	}
}

@media (min-width: 992px) {
	.header {
		.nav__list-btn {
			font-size: 2.2rem;
		}
	}

	.section {
		&__img-mobile {
			&--phone {
				height: 140%;

				top: -15%;
				transform: translateY(-50%);
				left: 25%;
				transform: translateX(-50%);
			}
		}
	}
}

@media (min-width: 1200px) {
	.section {
		&--desktop {
			margin-block: 10em;
		}
		&--editor {
			margin-block: 10em;
		}

		&__text--editor::before {
			height: 100%;
			max-height: 730px;
		}
		&__text--desktop::before {
			height: 100%;
			max-height: 730px;
		}

		&__title {
			font-size: 3.8rem;
		}
		&__title-mini {
			font-size: 3rem;
			margin-bottom: 1.5em;
		}
		&__description {
			font-size: 1.8rem;
		}
	}
}
@media (min-width: 1400px) {
	.section {
		&__text--editor::before {
			background-size: contain;
		}
		&__text--desktop::before {
			background-size: contain;
		}
	}
}
